---
import PageLayout from "@layouts/PageLayout.astro";

---

<PageLayout 
  title="Cho thuê giàn giáo | Axial Construct"
  pageSubtitle="An toàn - Chất lượng - Chuyên nghiệp"
  pageTitle="Giàn giáo"
>
  <link slot="head" rel="stylesheet" href="/assets/css/single-service.min.css" />
        <section class="tabs section">
            <div class=container>
                <div class="tabs_header section_header">
                    <div class=tabs_header-wrapper><span class=subtitle data-aos=fade-down>Electrical Engineering</span>
                        <h2 class=title data-aos=fade-right>We Provide <span class=highlight>Electrical
                                Engineering</span> Services</h2>
                    </div>
                    <p class=text data-aos=fade-left>Vestibulum morbi blandit cursus risus at ultrices. Dui nunc mattis
                        enim ut tellus. Morbi blandit cursus risus at ultrices. Proin nibh nisl condimentum id venenatis
                    </p>
                </div>
                <div class=tabs_services>
                    <div class="tabs_nav nav nav-tabs">
                        <h5 class="tabs_nav-item active" data-bs-toggle=tab data-bs-target=#service01
                            aria-controls=service01>On-Site Testing and Commissioning</h5>
                        <h5 class=tabs_nav-item data-bs-toggle=tab data-bs-target=#service02 aria-controls=service02>
                            Lighting Planning and Drive Technology</h5>
                        <h5 class=tabs_nav-item data-bs-toggle=tab data-bs-target=#service03 aria-controls=service03>
                            Electrical Heating and/or Trace Heating</h5>
                        <h5 class=tabs_nav-item data-bs-toggle=tab data-bs-target=#service04 aria-controls=service04>
                            Development of Electrical Schematics</h5>
                        <h5 class=tabs_nav-item data-bs-toggle=tab data-bs-target=#service05 aria-controls=service05>
                            Grounding</h5>
                        <h5 class=tabs_nav-item data-bs-toggle=tab data-bs-target=#service06 aria-controls=service06>
                            Lightning Protection</h5>
                    </div>
                    <div class="tabs_content tab-content" id=service_tabs>
                        <div class=tabs_content-item>
                            <h5 class=trigger data-bs-toggle=collapse data-bs-target=#service01 aria-expanded=true
                                aria-controls=service01>On-Site Testing and Commissioning</h5>
                            <div class="tab-pane collapse fade show" id=service01 data-bs-parent=#service_tabs>
                                <div class=content>
                                    <div class=media>
                                        <picture>
                                            <source data-srcset=/assets/img/tabs/01.jpg srcset=/assets/img/tabs/01.jpg
                                                type=image/webp><img class=lazy data-src=/assets/img/tabs/01.jpg
                                                src=/assets/img/tabs/01.jpg alt=media>
                                        </picture>
                                    </div>
                                    <div class=main>
                                        <div class=info>
                                            <table class=info_table>
                                                <tbody>
                                                    <tr>
                                                        <td class=property>Duration</td>
                                                        <td class=value>1 day</td>
                                                    </tr>
                                                    <tr>
                                                        <td class=property>Price</td>
                                                        <td class=value>$12 per hour</td>
                                                    </tr>
                                                </tbody>
                                            </table><a class="main_btn btn" href=#>Get service</a>
                                        </div>
                                        <div class=description>
                                            <p class=text>Nulla facilisi nullam vehicula ipsum a arcu cursus. Libero
                                                volutpat sed cras ornare arcu dui vivamus arcu felis. Feugiat sed lectus
                                                vestibulum mattis ullamcorper velit sed ullamcorper morbie enim
                                                facilisis gravid. A condimentum vitae sapien pellentesque habitant</p>
                                            <p class=text>A condimentum vitae sapien pellentesque habitant. Ac turpis
                                                egestas maecenas pharetra convallis posuere morbi. Sed sed risus pretium
                                                quam vulputate dignissim. Elit eget gravida cum sociis natoque penatibus
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=tabs_content-item>
                            <h5 class=trigger data-bs-toggle=collapse data-bs-target=#service02 aria-expanded=false
                                aria-controls=service02>Lighting Planning and Drive Technology</h5>
                            <div class="tab-pane collapse fade" id=service02 data-bs-parent=#service_tabs>
                                <div class=content>
                                    <div class=media>
                                        <picture>
                                            <source data-srcset=/assets/img/tabs/02.jpg srcset=/assets/img/tabs/02.jpg
                                                type=image/webp><img class=lazy data-src=/assets/img/tabs/02.jpg
                                                src=/assets/img/tabs/02.jpg alt=media>
                                        </picture>
                                    </div>
                                    <div class=main>
                                        <div class=info>
                                            <table class=info_table>
                                                <tbody>
                                                    <tr>
                                                        <td class=property>Duration</td>
                                                        <td class=value>1 day</td>
                                                    </tr>
                                                    <tr>
                                                        <td class=property>Price</td>
                                                        <td class=value>$12 per hour</td>
                                                    </tr>
                                                </tbody>
                                            </table><a class="main_btn btn" href=#>Get service</a>
                                        </div>
                                        <div class=description>
                                            <p class=text>Nulla facilisi nullam vehicula ipsum a arcu cursus. Libero
                                                volutpat sed cras ornare arcu dui vivamus arcu felis. Feugiat sed lectus
                                                vestibulum mattis ullamcorper velit sed ullamcorper morbie enim
                                                facilisis gravid. A condimentum vitae sapien pellentesque habitant</p>
                                            <p class=text>A condimentum vitae sapien pellentesque habitant. Ac turpis
                                                egestas maecenas pharetra convallis posuere morbi. Sed sed risus pretium
                                                quam vulputate dignissim. Elit eget gravida cum sociis natoque penatibus
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=tabs_content-item>
                            <h5 class=trigger data-bs-toggle=collapse data-bs-target=#service03 aria-expanded=false
                                aria-controls=service03>Electrical Heating and/or Trace Heating</h5>
                            <div class="tab-pane collapse fade" id=service03 data-bs-parent=#service_tabs>
                                <div class=content>
                                    <div class=media>
                                        <picture>
                                            <source data-srcset=/assets/img/tabs/03.jpg srcset=/assets/img/tabs/03.jpg
                                                type=image/webp><img class=lazy data-src=/assets/img/tabs/03.jpg
                                                src=/assets/img/tabs/03.jpg alt=media>
                                        </picture>
                                    </div>
                                    <div class=main>
                                        <div class=info>
                                            <table class=info_table>
                                                <tbody>
                                                    <tr>
                                                        <td class=property>Duration</td>
                                                        <td class=value>1 day</td>
                                                    </tr>
                                                    <tr>
                                                        <td class=property>Price</td>
                                                        <td class=value>$12 per hour</td>
                                                    </tr>
                                                </tbody>
                                            </table><a class="main_btn btn" href=#>Get service</a>
                                        </div>
                                        <div class=description>
                                            <p class=text>Nulla facilisi nullam vehicula ipsum a arcu cursus. Libero
                                                volutpat sed cras ornare arcu dui vivamus arcu felis. Feugiat sed lectus
                                                vestibulum mattis ullamcorper velit sed ullamcorper morbie enim
                                                facilisis gravid. A condimentum vitae sapien pellentesque habitant</p>
                                            <p class=text>A condimentum vitae sapien pellentesque habitant. Ac turpis
                                                egestas maecenas pharetra convallis posuere morbi. Sed sed risus pretium
                                                quam vulputate dignissim. Elit eget gravida cum sociis natoque penatibus
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=tabs_content-item>
                            <h5 class=trigger data-bs-toggle=collapse data-bs-target=#service04 aria-expanded=false
                                aria-controls=service04>Development of Electrical Schematics</h5>
                            <div class="tab-pane collapse fade" id=service04 data-bs-parent=#service_tabs>
                                <div class=content>
                                    <div class=media>
                                        <picture>
                                            <source data-srcset=/assets/img/tabs/04.jpg srcset=/assets/img/tabs/04.jpg
                                                type=image/webp><img class=lazy data-src=/assets/img/tabs/04.jpg
                                                src=/assets/img/tabs/04.jpg alt=media>
                                        </picture>
                                    </div>
                                    <div class=main>
                                        <div class=info>
                                            <table class=info_table>
                                                <tbody>
                                                    <tr>
                                                        <td class=property>Duration</td>
                                                        <td class=value>1 day</td>
                                                    </tr>
                                                    <tr>
                                                        <td class=property>Price</td>
                                                        <td class=value>$12 per hour</td>
                                                    </tr>
                                                </tbody>
                                            </table><a class="main_btn btn" href=#>Get service</a>
                                        </div>
                                        <div class=description>
                                            <p class=text>Nulla facilisi nullam vehicula ipsum a arcu cursus. Libero
                                                volutpat sed cras ornare arcu dui vivamus arcu felis. Feugiat sed lectus
                                                vestibulum mattis ullamcorper velit sed ullamcorper morbie enim
                                                facilisis gravid. A condimentum vitae sapien pellentesque habitant</p>
                                            <p class=text>A condimentum vitae sapien pellentesque habitant. Ac turpis
                                                egestas maecenas pharetra convallis posuere morbi. Sed sed risus pretium
                                                quam vulputate dignissim. Elit eget gravida cum sociis natoque penatibus
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=tabs_content-item>
                            <h5 class=trigger data-bs-toggle=collapse data-bs-target=#service05 aria-expanded=false
                                aria-controls=service05>Grounding</h5>
                            <div class="tab-pane collapse fade" id=service05 data-bs-parent=#service_tabs>
                                <div class=content>
                                    <div class=media>
                                        <picture>
                                            <source data-srcset=/assets/img/tabs/05.jpg srcset=/assets/img/tabs/05.jpg
                                                type=image/webp><img class=lazy data-src=/assets/img/tabs/05.jpg
                                                src=/assets/img/tabs/05.jpg alt=media>
                                        </picture>
                                    </div>
                                    <div class=main>
                                        <div class=info>
                                            <table class=info_table>
                                                <tbody>
                                                    <tr>
                                                        <td class=property>Duration</td>
                                                        <td class=value>1 day</td>
                                                    </tr>
                                                    <tr>
                                                        <td class=property>Price</td>
                                                        <td class=value>$12 per hour</td>
                                                    </tr>
                                                </tbody>
                                            </table><a class="main_btn btn" href=#>Get service</a>
                                        </div>
                                        <div class=description>
                                            <p class=text>Nulla facilisi nullam vehicula ipsum a arcu cursus. Libero
                                                volutpat sed cras ornare arcu dui vivamus arcu felis. Feugiat sed lectus
                                                vestibulum mattis ullamcorper velit sed ullamcorper morbie enim
                                                facilisis gravid. A condimentum vitae sapien pellentesque habitant</p>
                                            <p class=text>A condimentum vitae sapien pellentesque habitant. Ac turpis
                                                egestas maecenas pharetra convallis posuere morbi. Sed sed risus pretium
                                                quam vulputate dignissim. Elit eget gravida cum sociis natoque penatibus
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=tabs_content-item>
                            <h5 class=trigger data-bs-toggle=collapse data-bs-target=#service06 aria-expanded=false
                                aria-controls=service06>Lightning Protection</h5>
                            <div class="tab-pane collapse fade" id=service06 data-bs-parent=#service_tabs>
                                <div class=content>
                                    <div class=media>
                                        <picture>
                                            <source data-srcset=/assets/img/tabs/06.jpg srcset=/assets/img/tabs/06.jpg
                                                type=image/webp><img class=lazy data-src=/assets/img/tabs/06.jpg
                                                src=/assets/img/tabs/06.jpg alt=media>
                                        </picture>
                                    </div>
                                    <div class=main>
                                        <div class=info>
                                            <table class=info_table>
                                                <tbody>
                                                    <tr>
                                                        <td class=property>Duration</td>
                                                        <td class=value>1 day</td>
                                                    </tr>
                                                    <tr>
                                                        <td class=property>Price</td>
                                                        <td class=value>$12 per hour</td>
                                                    </tr>
                                                </tbody>
                                            </table><a class="main_btn btn" href=#>Get service</a>
                                        </div>
                                        <div class=description>
                                            <p class=text>Nulla facilisi nullam vehicula ipsum a arcu cursus. Libero
                                                volutpat sed cras ornare arcu dui vivamus arcu felis. Feugiat sed lectus
                                                vestibulum mattis ullamcorper velit sed ullamcorper morbie enim
                                                facilisis gravid. A condimentum vitae sapien pellentesque habitant</p>
                                            <p class=text>A condimentum vitae sapien pellentesque habitant. Ac turpis
                                                egestas maecenas pharetra convallis posuere morbi. Sed sed risus pretium
                                                quam vulputate dignissim. Elit eget gravida cum sociis natoque penatibus
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="process section primary-bg">
            <div class="process_container container">
                <div class="process_header section_header"><span class=subtitle>Quy trình làm việc</span>
                    <h2 class=title>Quy trình triển khai <span class=highlight>dịch vụ</span></h2>
                </div>
                <p class=process_text>Chúng tôi cam kết cung cấp dịch vụ chuyên nghiệp, từ khảo sát ban đầu đến lắp đặt, vận hành và tháo dỡ thiết bị, đảm bảo an toàn và hiệu quả cho công trình của bạn.</p>
            </div>
            <div class="container-fluid process_fluid p-0">
                <div class=container>
                    <ul class="process_steps progress-tracker progress-tracker--vertical">
                        <li class="process_steps-step progress-step">
                            <div class=progress-marker><span class=progress-marker_spot></span> <span
                                    class=progress-marker_spot--underlay></span></div>
                            <div class=process_steps-step_wrapper>
                                <h4 class=title>Tiếp nhận yêu cầu & Khảo sát</h4>
                                <p class=description>Tiếp nhận thông tin công trình, khảo sát thực tế điều kiện thi công, địa hình và yêu cầu kỹ thuật để đề xuất giải pháp phù hợp.</p>
                            </div>
                        </li>
                        <li class="process_steps-step progress-step">
                            <div class=progress-marker><span class=progress-marker_spot></span> <span
                                    class=progress-marker_spot--underlay></span></div>
                            <div class=process_steps-step_wrapper>
                                <h4 class=title>Tư vấn & Báo giá</h4>
                                <p class=description>Tư vấn lựa chọn loại thiết bị, vị trí lắp đặt, phương án thi công và cung cấp báo giá chi tiết, minh bạch theo từng hạng mục.</p>
                            </div>
                        </li>
                        <li class="process_steps-step progress-step">
                            <div class=progress-marker><span class=progress-marker_spot></span> <span
                                    class=progress-marker_spot--underlay></span></div>
                            <div class=process_steps-step_wrapper>
                                <h4 class=title>Ký kết hợp đồng</h4>
                                <p class=description>Thống nhất các điều khoản hợp đồng, cam kết về tiến độ, chất lượng thiết bị, dịch vụ bảo trì và quy định an toàn lao động.</p>
                            </div>
                        </li>
                        <li class="process_steps-step progress-step">
                            <div class=progress-marker><span class=progress-marker_spot></span> <span
                                    class=progress-marker_spot--underlay></span></div>
                            <div class=process_steps-step_wrapper>
                                <h4 class=title>Triển khai lắp đặt & Vận hành</h4>
                                <p class=description>Vận chuyển thiết bị đến công trình, lắp dựng theo quy trình kỹ thuật, nghiệm thu và bàn giao vận hành. Hỗ trợ kỹ thuật 24/7.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="services section-nopb">
            <div class="container">
                <div class="services_header section_header">
                    <span class="subtitle">Dịch vụ cho thuê</span>
                    <h2 class="title" data-aos="fade-right" data-aos-duration="500">
                        Thiết bị <br /> 
                        <span class="highlight">Máy Xây Dựng</span>
                    </h2>
                </div>
                <ul class="services_list">
                    <li class="services_list-item" data-aos="fade-up">
                        <div class="wrapper">
                            <span class="number">01</span>
                            <h4 class="title">Cẩu tháp</h4>
                            <p class="description">Giải pháp cẩu tháp phục vụ thi công nhà cao tầng và công trình quy mô lớn, đảm bảo an toàn, ổn định và hiệu quả nâng hạ.</p>
                            <a class="link link-arrow" href="/services/tower-crane">Chi tiết <i class="icon-arrow_right icon"></i></a>
                        </div>
                    </li>
        
                    <li class="services_list-item" data-aos="fade-up" data-aos-delay="100">
                        <div class="wrapper">
                            <span class="number">02</span>
                            <h4 class="title">Vận thăng</h4>
                            <p class="description">Hệ thống vận thăng chở người và vật liệu, vận hành ổn định, đáp ứng yêu cầu thi công liên tục tại công trình cao tầng.</p>
                            <a class="link link-arrow" href="/services/hoist">Chi tiết <i class="icon-arrow_right icon"></i></a>
                        </div>
                    </li>
        
                    <li class="services_list-item" data-aos="fade-up" data-aos-delay="200">
                        <div class="wrapper">
                            <span class="number">03</span>
                            <h4 class="title">Giàn giáo</h4>
                            <p class="description">Hệ giàn giáo linh hoạt, chắc chắn, đáp ứng tiêu chuẩn an toàn thi công, tối ưu lắp dựng và tháo dỡ.</p>
                            <a class="link link-arrow" href="/services/scaffolding">Chi tiết <i class="icon-arrow_right icon"></i></a>
                        </div>
                    </li>
        
                    <li class="services_list-item" data-aos="fade-up" data-aos-delay="300">
                        <div class="wrapper">
                            <span class="number">04</span>
                            <h4 class="title">Cốp pha</h4>
                            <p class="description">Giải pháp cốp pha đa dạng cho sàn, cột và vách, đảm bảo độ chính xác hình khối và chất lượng bề mặt bê tông.</p>
                            <a class="link link-arrow" href="/services/formwork">Chi tiết <i class="icon-arrow_right icon"></i></a>
                        </div>
                    </li>
        
                    <li class="services_list-item" data-aos="fade-up" data-aos-delay="400">
                        <div class="wrapper">
                            <span class="number">05</span>
                            <h4 class="title">Vận chuyển & Lắp đặt</h4>
                            <p class="description">Dịch vụ trọn gói từ vận chuyển, lắp dựng đến tháo dỡ thiết bị, đảm bảo tiến độ và an toàn tại công trình.</p>
                            <a class="link link-arrow" href="#">Chi tiết <i class="icon-arrow_right icon"></i></a>
                        </div>
                    </li>
        
                    <li class="services_list-item" data-aos="fade-up" data-aos-delay="500">
                        <div class="wrapper">
                            <span class="number">06</span>
                            <h4 class="title">Khán đài</h4>
                            <p class="description">Giải pháp khán đài và sân khấu lắp ghép cho sự kiện và công trình công cộng, đáp ứng yêu cầu quy mô lớn.</p>
                            <a class="link link-arrow" href="https://khandaivn.com" target="_blank" rel="noopener noreferrer">khandaivn.com <i class="icon-arrow_right icon"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="feedback section-nopb">
            <div class=container>
                <div class="feedback_header section_header"><span class=subtitle>Phản hồi của khách hàng</span>
                    <h2 class=title><span class=highlight>Đối tác</span> nói gì về Đông Dương</h2>
                    <p class=text>Sự ủng hộ nhiệt tình và đóng góp quý báu của Quý Công ty đã góp phần tạo nên thành công rực rỡ cho các sự kiện tầm cỡ quốc gia</p><a class=btn href=/about>XEM HỒ SƠ NĂNG LỰC</a>
                </div>
                <div class="feedback_slider swiper">
                    <div class=swiper-wrapper>
                        <div class="feedback_slider-slide swiper-slide">
                            <p class=main>Thành công của sự kiện chính là nhờ sự ủng hộ nhiệt tình của Quý Công ty, góp phần tôn vinh những giá trị văn hóa và quảng bá hình ảnh địa phương đến du khách trong và ngoài nước.</p>
                            <div class=media>
                                <div class=avatar>
                                    <picture>
                                        <source data-srcset=/assets/img/avatars/lehoitra.webp
                                            srcset=/assets/img/avatars/lehoitra.webp type=image/webp><img class=lazy
                                            data-src=assets/img/avatars/lehoitra.webp src=assets/img/avatars/lehoitra.webp
                                            alt="UBND tỉnh Lâm Đồng">
                                    </picture>
                                </div>
                                <div class=media_info><span class=name>Đại diện UBND Tỉnh / Ban Tổ chức</span> <span
                                        class=company>Lễ hội Văn hóa Trà 2006</span></div>
                            </div>
                        </div>
                        <div class="feedback_slider-slide swiper-slide">
                            <p class=main>Sự hỗ trợ, giúp đỡ không nhỏ của Quý Công ty về cả vật chất và tinh thần đã góp phần tạo điều kiện cho sinh viên có một sân chơi bổ ích, tạo động lực cho phong rào nghiên cứu khoa học và chuyển giao công nghệ.</p>
                            <div class=media>
                                <div class=avatar>
                                    <picture>
                                        <source data-srcset=/assets/img/avatars/robocon2005.webp
                                            srcset=/assets/img/avatars/robocon2005.webp type=image/webp><img class=lazy
                                            data-src=assets/img/avatars/robocon2005.webp src=assets/img/avatars/robocon2005.webp
                                            alt="John Smith">
                                    </picture>
                                </div>
                                <div class=media_info><span class=name>Ban Tổ chức Robocon</span> <span
                                        class=company>ĐH Sư phạm Kỹ thuật TP.HCM</span></div>
                            </div>
                        </div>
                        <div class="feedback_slider-slide swiper-slide">
                            <p class=main>Sự đồng hành và tài trợ của Quý Công ty đã giúp chúng tôi tổ chức giải đấu thành công rực rỡ, để lại ấn tượng tốt đẹp trong lòng người hâm mộ và các đơn vị truyền thông như VTV, HTV.</p>
                            <div class=media>
                                <div class=avatar>
                                    <picture>
                                        <source data-srcset=/assets/img/avatars/vungtautourist.webp
                                            srcset=/assets/img/avatars/vungtautourist.webp type=image/webp><img class=lazy
                                            data-src=assets/img/avatars/vungtautourist.webp src=assets/img/avatars/vungtautourist.webp
                                            alt="Marta Diaz">
                                    </picture>
                                </div>
                                <div class=media_info><span class=name>Ban Tổ chức Giải Bóng chuyền Bãi biển Quốc gia</span> <span
                                        class=company>Vungtau Tourist</span></div>
                            </div>
                        </div>
                        <div class="feedback_slider-slide swiper-slide">
                            <p class=main>Ủy ban nhân dân tỉnh trân trọng cảm ơn Quý Công ty đã tạo mọi điều kiện giúp đỡ để buổi lễ mít-tinh kỷ niệm 30 năm ngày giải phóng hoàn toàn miền Nam thành công tốt đẹp.</p>
                            <div class=media>
                                <div class=avatar>
                                    <picture>
                                        <source data-srcset=/assets/img/avatars/tinhbentre.webp
                                            srcset=/assets/img/avatars/tinhbentre.webp type=image/webp><img class=lazy
                                            data-src=assets/img/avatars/tinhbentre.webp src=assets/img/avatars/tinhbentre.webp
                                            alt="Victor Adams">
                                    </picture>
                                </div>
                                <div class=media_info><span class=name>UBND tỉnh Bến Tre</span> <span
                                        class=company>Kỷ niệm 30 năm Giải phóng miền Nam</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="feedback_slider-pagination swiper-pagination"></div>
                </div>
            </div>
        </section>
        <section class="faq section">
            <div class="container">
                <div class="faq_header section_header">
                    <span class="subtitle">Giải đáp thắc mắc</span>
                    <h2 class="title">
                        Nếu chưa tìm thấy câu trả lời <span class="highlight">Hãy liên hệ với chúng tôi</span>
                    </h2>
                    <p class="text">
                        Chúng tôi sẵn sàng tư vấn và cung cấp thông tin chi tiết liên quan đến thiết bị,
                        giải pháp thi công và dịch vụ hỗ trợ kỹ thuật.
                    </p>
                    <div class="wrapper">
                        <a class="btn" href="contacts.html">Liên hệ</a>
                    </div>
                </div>
        
                <div class="faq_accordion" id="faq_accordion">
                    <div class="faq_accordion-item">
                        <button
                            class="trigger"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseThree"
                            aria-expanded="true"
                        >
                            <span class="question h5">Công ty hiện đang hoạt động tại những khu vực nào?</span>
                            <span class="icon">
                                <i class="icon icon-plus"></i>
                                <i class="icon icon-minus"></i>
                            </span>
                        </button>
                        <div id="collapseThree" class="collapse show" data-bs-parent="#faq_accordion">
                            <div class="content">
                                <p class="text">
                                    Chúng tôi có hệ thống kho bãi và chi nhánh tại ba miền Bắc – Trung – Nam,
                                    sẵn sàng cung ứng thiết bị và hỗ trợ kỹ thuật cho các công trình trên toàn quốc.
                                </p>
                            </div>
                        </div>
                    </div>
        
                    <div class="faq_accordion-item">
                        <button
                            class="trigger"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseOne"
                            aria-expanded="false"
                        >
                            <span class="question h5">Công ty cung cấp những giải pháp và dịch vụ gì?</span>
                            <span class="icon">
                                <i class="icon icon-plus"></i>
                                <i class="icon icon-minus"></i>
                            </span>
                        </button>
                        <div id="collapseOne" class="collapse" data-bs-parent="#faq_accordion">
                            <div class="content">
                                <p class="text">
                                    Chúng tôi cung cấp giải pháp thiết bị và dịch vụ thi công bao gồm:
                                    cẩu tháp, vận thăng, giàn giáo, cốp pha, cùng các dịch vụ vận chuyển,
                                    lắp dựng, vận hành và tháo dỡ tại công trình.
                                </p>
                            </div>
                        </div>
                    </div>
        
                    <div class="faq_accordion-item">
                        <button
                            class="trigger"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo"
                            aria-expanded="false"
                        >
                            <span class="question h5">Công ty có hỗ trợ tư vấn kỹ thuật không?</span>
                            <span class="icon">
                                <i class="icon icon-plus"></i>
                                <i class="icon icon-minus"></i>
                            </span>
                        </button>
                        <div id="collapseTwo" class="collapse" data-bs-parent="#faq_accordion">
                            <div class="content">
                                <p class="text">
                                    Đội ngũ kỹ thuật của chúng tôi hỗ trợ tư vấn giải pháp phù hợp với
                                    từng điều kiện thi công, đảm bảo an toàn, tiến độ và hiệu quả sử dụng thiết bị.
                                </p>
                            </div>
                        </div>
                    </div>
        
                    <div class="faq_accordion-item">
                        <button
                            class="trigger"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseFour"
                            aria-expanded="false"
                        >
                            <span class="question h5">Quy trình triển khai tại công trình diễn ra như thế nào?</span>
                            <span class="icon">
                                <i class="icon icon-plus"></i>
                                <i class="icon icon-minus"></i>
                            </span>
                        </button>
                        <div id="collapseFour" class="collapse" data-bs-parent="#faq_accordion">
                            <div class="content">
                                <p class="text">
                                    Quy trình triển khai bao gồm khảo sát thực tế, tư vấn giải pháp,
                                    vận chuyển thiết bị, lắp dựng, vận hành và tháo dỡ theo đúng tiêu chuẩn kỹ thuật
                                    và yêu cầu an toàn của công trình.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

  <script slot="scripts" src="/assets/js/singleservice.min.js" defer></script>
  <script src="/assets/js/singleproject.min.js" defer></script>
</PageLayout>
