.header {
    will-change: transform;
    position: fixed;
    width: 100%;
    z-index: 1000000;
    top: 0;
    left: 0;
    background-color: transparent;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.header.opened {
    height: 100vh;
}
.header.opened,
.header.sticky {
    background-color: #001f3f;
}
.header--pinned {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.header--unpinned {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.header .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 20px;
}

.brand {
    display: flex;
    align-items: center;
}

.brand_name {
    display: none !important;
}

.brand_logo {
    width: auto !important;
    height: 50px !important;
    display: block;
    object-fit: contain;
    -webkit-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

.header.sticky .brand_logo {
    height: 40px !important;
}

.header_trigger {
    width: 30px;
    height: 28px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.header_trigger .line {
    width: 100%;
    height: 3px;
    background: #fff;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    border-radius: 3px;
}
.header_trigger .line--short {
    width: 50%;
}
.header_trigger.active .line--short {
    width: 100%;
}
.header_nav {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.header_nav-list {
    max-height: calc(100vh - 100px);
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
}
.header_nav-list_item {
    text-transform: uppercase;
    font-size: 14px;
    font-family: Archivo, sans-serif;
    font-weight: 600;
    color: #fff;
}
.header_nav-list_item .nav-item.current,
.header_nav-list_item .nav-link.current,
.header_nav-list_item .nav-link.active {
    color: #ffc631;
}
.header_nav-list_item .dropdown-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    margin: 20px 15px 0 0;
}
.header_nav-list_item .dropdown-toggle {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
}
.header_nav-list_item .dropdown-toggle .icon {
    will-change: transform;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 12px;
    margin-bottom: 2px;
    color: #ffc631;
}
.header_nav-list_item .dropdown-toggle:hover .icon,
.header_nav-list_item .dropdown-toggle[aria-expanded="true"] .icon {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
@media screen and (min-width: 767.98px) {
    .header.opened {
        height: 50vh;
    }
    .header_nav-list {
        max-height: calc(50vh - 100px);
    }
}
@media screen and (min-width: 1023.98px) {
    .header {
        padding: 30px 0;
    }
    .header.sticky {
        padding: 20px 0;
    }
    .header .container {
        padding: 0 20px;
    }
    .header_trigger {
        display: none;
    }
    .header_nav {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        width: unset;
    }
    .header_nav .nav-link {
        position: relative;
    }
    .header_nav .nav-link:after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        background-color: #ffc631;
        bottom: -6px;
        left: 0;
        -webkit-transition: width 0.3s ease-in-out;
        -o-transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
    }
    .header_nav .nav-link:focus,
    .header_nav .nav-link:hover {
        color: #ffc631;
    }
    .header_nav .nav-link.current,
    .header_nav .nav-link.active {
        color: #fff;
    }
    .header_nav .nav-link.current:after,
    .header_nav .nav-link.active:after {
        width: 100%;
    }
    .header_nav-list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        height: unset;
        margin-top: 0;
        overflow-y: unset;
    }
    .header_nav-list .dropdown {
        position: relative;
    }
    .header_nav-list .dropdown:last-of-type .dropdown-menu {
        right: 0;
    }
    .header_nav-list .dropdown-menu {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        position: absolute;
        z-index: 100;
        opacity: 0;
        max-height: -webkit-fit-content;
        max-height: -moz-fit-content;
        max-height: fit-content;
        text-align: left;
        visibility: hidden;
        -webkit-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
        padding: 20px 0 0;
    }
    .header_nav-list .dropdown-menu.active {
        opacity: 1;
        visibility: visible;
    }
    .header_nav-list .dropdown-list {
        margin: 0;
        background-color: #001f3f;
        padding: 20px;
    }
    .header_nav-list .dropdown-item.current,
    .header_nav-list .dropdown-item.active,
    .header_nav-list .dropdown-item:hover {
        color: #ffc631;
    }
    html[dir="rtl"] .header .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    html[dir="rtl"] .header_nav-list .nav-link:after {
        left: auto;
        right: 0;
    }
    html[dir="rtl"] .header_nav-list .dropdown:last-of-type .dropdown-menu {
        right: unset;
        left: 0;
    }
}
@media screen and (min-width: 1169.98px) {
    .header {
        padding-top: 60px;
    }
}
@media screen and (min-width: 1330px) {
    .header .container {
        padding: 0;
    }
}

@media screen and (max-width: 1023.98px) {
    .brand_logo {
        height: 40px !important;
    }
}