---
import PageLayout from "@layouts/PageLayout.astro";

---

<PageLayout 
  title="Liên hệ | Đông Dương"
  pageSubtitle="An toàn - Chất lượng - Chuyên nghiệp"
  pageTitle="Liên hệ"
>
  <link slot="head" rel="stylesheet" href="/assets/css/contacts.min.css" />
  <style slot="head">
    .map-wrapper{
      position:relative;
      width:100%;
      padding-bottom:56.25%; /* 16:9 */
      overflow:hidden;
    }
    .map-wrapper iframe{
      position:absolute;
      top:0;left:0;
      width:100%;height:100%;
      border:0;
    }
  </style>
        <section class="info section-nopb">
            <div class=container>
                <div class=info_data>
                    <div class="info_header section_header"><span class=subtitle data-aos=fade-right>Liên hệ chúng tôi</span>
                        <h2 class=title data-aos=fade-right data-aos-delay=30>Thông tin <span class=highlight>liên hệ</span>
                            </h2>
                    </div>
                </div>
                <div class=info_cards>
                    <div class=info_data-card data-aos=fade-left>
                        <div class=wrapper><i class="icon-location icon"></i>
                            <h4 class=title>Địa chỉ</h4><span class=content>143 Trần Hưng Đạo B, Phường Chợ Lớn, TP. Hồ Chí Minh</span>
                        </div>
                    </div>
                    <div class=info_data-card data-aos=fade-left data-aos-delay=20>
                        <div class=wrapper><i class="icon-inbox icon"></i>
                            <h4 class=title>Email</h4><span class="content d-flex flex-column"><a
                                    href=mailto:example.com class=link>contac@dongduongvn.com</a> </span>
                        </div>
                    </div>
                    <div class=info_data-card data-aos=fade-left data-aos-delay=40>
                        <div class=wrapper><i class="icon-call icon"></i>
                            <h4 class=title>Phone</h4><span class="content d-flex flex-column"><a href=tel:+13136453395
                                    class=link>+84.28 3855 2151</a> </span>
                        </div>
                    </div>
                </div>
                <div class=contacts_map>
                    <div class="map-wrapper">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.8839010946624!2d106.66517836487898!3d10.752370534184758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ef98db35637%3A0x97abda575d3522fa!2zVHLhu6Ugc-G7nyBjaMOtbmggKFYxKSAtIEPDtG5nIFR5IEPDtMyJIFBow6LMgG4gWMOieSBExrDMo25nIMSQw6LMgHUgVMawIEPDtG5nIE5naGnDqsyjcCDEkMO0bmcgRMawxqFuZw!5e0!3m2!1svi!2s!4v1767693001312!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
                </div>
            </div>
        </section>
        <section class="branches section">
            <div class="container">
                <div class="branches_header section_header">
                    <span class="subtitle">Chi nhánh</span>
                    <h2 class="title">Thông tin <span class="highlight">chi nhánh</span></h2>
                </div>

                <div class="branches_grid">
                    <div class="info_data-card" data-aos="fade-up">
                        <div class="wrapper">
                            <i class="icon-bookmark icon"></i>
                            <h4 class="title">Chi nhánh Đà Nẵng</h4>

                            <span class="content d-flex align-items-start gap-2">
                                <i class="icon-location icon"></i>
                                <span>4 Đường 12, KCN Hòa Khánh, Liên Chiểu, Đà Nẵng</span>
                            </span>

                            <span class="content d-flex align-items-start gap-2">
                                <i class="icon-call icon"></i>
                                <a class="link" href="tel:02363680151">(+84.236) 3680 151</a>
                            </span>
                        </div>
                    </div>

                    <div class="info_data-card" data-aos="fade-up" data-aos-delay="20">
                        <div class="wrapper">
                            <i class="icon-bookmark icon"></i>
                            <h4 class="title">Chi nhánh Hưng Yên</h4>

                            <span class="content d-flex align-items-start gap-2">
                                <i class="icon-location icon"></i>
                                <span>Tổ dân phố Bến, Thượng Hồng, Hưng Yên</span>
                            </span>

                            <span class="content d-flex align-items-start gap-2">
                                <i class="icon-call icon"></i>
                                <a class="link" href="tel:02213945966">(+84.221) 3945 966</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>





</PageLayout>
