---
import { url } from "@utils/url";
---
<footer class="footer primary-bg">
    <div class="container">
        <div class="footer_main">
            <div class="footer_main-block footer_main-block--brand">
                <a class="brand" href={url("/")}>
                    <img class="brand_logo" src={url("/assets/svg/logo-dong-duong.svg")} alt="Công ty Đông Dương"> 
                </a>
                <p class="footer_main-block_subtitle">
                    <strong>Đông Dương</strong> chuyên cho thuê thiết bị xây dựng: <strong>Cẩu tháp, Vận thăng, Giàn giáo & Cốp pha</strong>. Cam kết giải pháp an toàn và tối ưu chi phí cho mọi công trình.
                </p>
            </div>

            <div class="footer_main-block">
                <h4 class="footer_main-block_title">Trụ sở chính</h4>
                <div class="group-wrapper">
                    <i class="icon-call icon"></i>
                    <div class="group">
                        <a href="tel:02838552151">(+84.28) 3855 2151</a>
                    </div>
                </div>
                <div class="group-wrapper">
                    <i class="icon-location icon"></i>
                    <div class="group">
                        <span>143 Trần Hưng Đạo B, Phường Chợ Lớn, TP.HCM</span> 
                        <span style="margin-top: 8px;"><strong>Hệ thống kho:</strong> <br> Nhà máy E1: E1/16C, Đường 5A, xã Tân Vĩnh Lộc, TPHCM<br>Nhà máy E2: 29A Kỳ Lân, Tổ 2, Khu phố Vàm, Trảng Dài, Đồng Nai  </span>
                    </div>
                </div>
            </div>

            <div class="footer_main-block">
                <h4 class="footer_main-block_title">Chi nhánh Đà Nẵng</h4>
                <div class="group-wrapper">
                    <i class="icon-call icon"></i>
                    <div class="group">
                        <a href="tel:02363680151">(+84.236) 3680 151</a>
                    </div>
                </div>
                <div class="group-wrapper">
                    <i class="icon-location icon"></i>
                    <div class="group">
                        <span>4 Đường 12, KCN Hòa Khánh, Liên Chiểu, Đà Nẵng</span>
                    </div>
                </div>
            </div>

            <div class="footer_main-block">
                <h4 class="footer_main-block_title">Chi nhánh Hưng Yên</h4>
                <div class="group-wrapper">
                    <i class="icon-call icon"></i>
                    <div class="group">
                        <a href="tel:02213945966">(+84.221) 3945 966</a>
                    </div>
                </div>
                <div class="group-wrapper">
                    <i class="icon-location icon"></i>
                    <div class="group">
                        <span>Tổ dân phố Bến, Thượng Hồng, Hưng Yên</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_secondary">
            <p class="footer_secondary-copyright">
                <span>
                    Bản quyền &copy; <span id="currentYear"></span> thuộc về 
                    <a href={url("/")} class="copyright-link">Công ty Đông Dương</a>. 
                    <i>"Your demand is our responsibility"</i>
                </span>
            </p>
        </div>
    </div>
</footer>