---
const {
  title = "Đông Dương | Cẩu tháp - Vận thăng - Giàn giáo - Cốp pha",
  description = "Đông Dương chuyên cung cấp giàn giáo, cốp pha, vận thăng, cầu tháp Potain và khán đài lắp ghép. Đạt ISO 9001, QUATEST, nhiều dự án lớn toàn quốc."
} = Astro.props;
---

<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{title}</title>
  <meta name="description" content={description} />

  <!-- Google Fonts: Inter -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />

  <!-- CSS GIỐNG THEME GỐC -->
  <link rel="stylesheet" href="/assets/css/preload.min.css" />
  <link rel="stylesheet" href="/assets/css/icomoon.css" />
  <link rel="stylesheet" href="/assets/css/libs.min.css" />
  <!-- GLOBAL -->
  <link rel="stylesheet" href="/assets/css/header.css" />
  <link rel="stylesheet" href="/assets/css/footer.css" />
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>
  <slot />

  <!-- JS chung -->
  <script src="/assets/js/common.min.js" defer></script>
</body>
</html>
